<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bsyoo.jwc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".mainimage.notice.NoticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".user.Login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".mainimage.notice.EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>

        <activity android:name=".CompanyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".mainimage.notice.NoticeInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainimage.notice.NoticeActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>

        <activity
            android:name=".camera.CameraActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>

        <activity android:name=".mainimage.notice.EventInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mainimage.notice.EventActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>

        <activity android:name=".mainimage.series.SeriesActivity" />

        <activity android:name=".mainimage.series.SeriesInfoActivity">
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>

        <activity android:name=".user.Login.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".user.Login.LoginActivity" />
        </activity>

        <activity android:name=".user.Login.AddressActivity" />

        <activity
            android:name=".user.terms.TermsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.mypage.MypageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".mainimage.series.ModelSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".user.mypage.PwCheckActivity" />
        <activity android:name=".user.Login.IDPWSearch.IDPWSearchActivity" />
        <activity android:name=".user.mypage.MypageModifiedActivity" />
        <activity android:name=".user.mypage.DeleteUserActivity" />
        <activity android:name=".school.SchoolActivity" />
        <activity android:name=".school.SchoolInfoActivity" />
        <activity android:name=".school.SchoolWriteActivity" />
        <activity android:name=".mainimage.AgencyActivity" />
        <activity android:name=".user.mypage.SerialCodeAddActivity" />
        <activity android:name=".mainimage.TechnologyActivity" />
        <activity android:name=".mainimage.TechnologyInfoActivity" />
        <activity
            android:name=".cctvinstall.CctvInstallActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <service android:name=".fmcpush.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fmcpush.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>