<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jwcnetworks.bsyoo.jwc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- 이미지 갤러리 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 앱 설치시 바로가기 생성 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- 와이파이, 데이터 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- android:largeHeap="true" 메모리 관리 -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/myjwc_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/myjwc_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/BigAppTheme.NoActionBar" />

        <!-- 푸시클릭시 중복실행 방지 -->
        <activity
            android:name=".IntroActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mainmenu.notice.NoticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".user.Login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.notice.EventActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".mainmenu.Company.CompanyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.notice.NoticeInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.mainmenu.notice.NoticeActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".mainimage.camera.CameraActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>
        <activity android:name=".mainmenu.notice.EventInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.mainmenu.notice.EventActivity" />
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>
        <activity android:name=".mainimage.series.SeriesActivity" />
        <activity android:name=".mainimage.series.SeriesInfoActivity">
            <meta-data
                android:name="kr.co.selphone.library.glide.SelphoneGlideModule"
                android:value="GlideModule" />
        </activity>
        <activity android:name=".user.Login.SignUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.user.Login.LoginActivity" />
        </activity>
        <activity android:name=".user.Login.AddressActivity" />
        <activity
            android:name=".user.terms.TermsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainmenu.mypage.MypageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainimage.series.ModelSearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.mypage.PwCheckActivity" />
        <activity android:name=".user.Login.IDPWSearch.IDPWSearchActivity" />
        <activity android:name=".mainmenu.mypage.MypageModifiedActivity" />
        <activity android:name=".mainmenu.mypage.DeleteUserActivity" />
        <activity android:name=".mainimage.school.SchoolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainimage.school.SchoolInfoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.mainimage.school.SchoolActivity" />
        </activity>
        <activity android:name=".mainimage.school.SchoolWriteActivity" />
        <activity android:name=".mainimage.agency.AgencyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.mypage.SerialCodeAddActivity" />
        <activity
            android:name=".mainimage.Technology.TechnologyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainimage.Technology.TechnologyInfoActivity" />
        <activity
            android:name=".mainimage.cctvinstall.CctvInstallActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainimage.Cases.CasesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.mypage.AgencyTopicActivity" />
        <activity android:name=".mainmenu.mypage.AgencyTopicWriteActivity" />
        <activity android:name=".mainmenu.mypage.AgencyTopicReviewActivity" />
        <activity android:name=".network.NetworkCheck" />
        <activity android:name=".mainmenu.SetUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity
            android:name=".PopupActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".user.Login.BusinessPopupActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".FCMPopupActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".mainimage.banner.MobileLiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainmenu.mypage.TechnicalSupportWriteActivity" />
        <activity android:name=".mainimage.News.NewsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jwcnetworks.bsyoo.jwc.MainActivity" />
        </activity>
        <activity android:name=".mainimage.News.NewsInfoActivity" />
        <activity android:name=".mainmenu.mypage.TechnicalSupportActivity" />

        <service android:name=".fcmpush.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcmpush.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".mainmenu.mypage.TechnicalSupportManagerActivity"></activity>
    </application>

</manifest>